* {
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: aliceblue;
    margin: 0;
}

header, footer{
    height: 50px;
    color: yellow;
    background-color: #282c34;
}
header, nav {
    display: flex;
}
nav p {
    margin-right: 15px;
}
.logo {
    width: 50px;
}
main {
    width: 80%;
    background-color: white;
    margin: 0 auto;
    height: 80vh;
}
.card-holder {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    margin-bottom: 10px;
    margin-right: 5px;
}
