* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
    margin: 0;
}
li {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
header, footer{
    height: 65px;
    color: yellow;
    background-color: #282c34;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 25px;
    position: sticky;
    z-index: 100;
    top: 0;
}
.wrapper {
    width: 80%;
    padding: 20px 10px;
}
.logo {
    width: 50px;
    margin-right: 25px;
}
.modal-btn {
    margin: 0 15px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
}
.modal-btn:hover {
    box-shadow: -1px 1px 8px cornflowerblue;
    transform: translateY(2px);
}
.auth-buttons-box {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.header-box {
    display: flex;
    align-items: center;
}
main {
    display: flex;
    background-color: white;
}
.side-menu {
    padding: 10px;
    min-width: 200px;
    margin-right: 45px;
    height: fit-content;
}
.side-menu ul {
    /*position: fixed;*/
}
.cats_item {
    padding: 5px;
    cursor: pointer;
}
.cats_item:hover {
    color: red;
    /* transform: translateX(3px);
    background-color: aliceblue; */
}
.card-holder {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.good-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0 5px;
}
.inputs-box {
    padding: 20px 20%;
    position: sticky;
    top: 60px;
    background-color: white;
    z-index: 10;
    display: flex;
    justify-content: space-around;
}
.login-form {
    margin-top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}
#closing-btn {
    position: fixed;
    top: 0;
    margin-left: 93%;
    width: fit-content;
    transform: scale(1.5);
    filter: invert(1);
}
.cart-box {
    display: flex;
    flex-direction: column;
}
#cart-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.styled_input {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    width: 50px;
    box-sizing: content-box;
    background: none;
}
.carousel-box {
    display: flex;
    justify-content: center;
}
.order-box {
    display: flex;
    justify-content: space-around;
}
.admin-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.admin-form > div {
    margin-bottom: 25px;
}
/*.css-o69gx8-MuiCardMedia-root {*/
/*    width: 50% !important;*/
/*}*/
.cat-editing-box {
    margin: 20px 10px;
}
#removing-btn {
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1.5);
}
.preview-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.preview-box > div {
    position: relative;
}
.MyOverRideClass {
    border-radius: 50%;
    padding: 5px;
    border: 5px dashed yellow;
    background-color: #282c34 !important;
}
.MyOverRideClass > svg {
    fill: yellow !important;
}
.confirm-box {
    /* position: absolute; */
    /* padding: 10px 15px;
    top: 0;
    left: 0;
    z-index: 100; */
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



